body {
    background-color:ghostwhite;
}

.form-check button:link {
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none;
}
.form-check button:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.form-check button:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}